/* || reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green--var: #10B981;
    --white--var: #ffff;
    --gray--var: #D5D4D8;
}
/* || body element */
body{
    background-color: #1C1C1C;
    margin-top: 20px;
}

/* || Container */
.container{
    width: 80vw;
    height: 90vh;
    background-color: #1F2937;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 2rem;
    padding-right: 0;
}


/* headers */
header{
    padding
}
.white_heading{
    color: var(--white--var);
    font-size: 1.7rem;
}
.green_heading{
    color: var(--green--var);
    font-size: 1.7rem;
    margin-bottom: 20px;
}
.second__header{
    color: var(--gray--var);
    font-size: 1rem;
}

/* || the line which separete the header and the main section */
hr{
    width: 90wh;
    margin-top: 2.5rem;
    margin-right: 2rem;
    height: 3px;
    background-color: var(--gray--var);
}
/* Main section */
.main__section{
    height: 30%;
    margin-right: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
/* button inside || Main section */

.password__generate{

        height: 50%; 
        margin-top: 20px;
        width: 150px;
        background-color: var(--green--var);
        border: none;
        border-radius: 4px;
        color: var(--white--var);
        font-weight: bold;
        letter-spacing: 2px;

}
.password__generate:active{
    box-shadow: 10px 10px 10px  var(--gray--var);
    
}
/* || place where the passwords are being presented */
.placeholder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    margin-right: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}


.Istplaceholder{
    width: max(150px, 30%);
    height: 30%;
    background-color: #273549;
    color: white;
    border-radius: 7px;
    text-align: center;
    font-size: 2rem;

}
.Wndplaceholder{
    width: max(150px, 30%);
    height: 30%;
    background-color: #273549;
    color: white;
    border-radius: 7px;
    text-align: center;
    font-size: 2rem;

}